/* * {
  outline: 1px solid #d10823;
} */

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #477657f5;
}

h4 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #477657f5;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Section Rooms */
.room-offer {
  padding: 80px 0;
  background: #f9f9f9;
}

.room-offer-container {
  height: auto; 
}

.offers-content {
  display: flex;
  gap: 40px;
  align-items: stretch; 
  flex-wrap: nowrap; 
}

.offers-info {
  flex: 1 1 45%;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e9e5e5;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.offers-info,
.offers-rooms {
  flex: 1 1 50%; 
  display: flex;      
  flex-direction: column; 
}

.offers-info h3, 
.offers-rooms h3{
  font-size: 24px;
  margin-bottom: 15px;
  color: #477657f5;
}

.offers-info p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.services-list {
  margin-bottom: 20px;
  padding-left: 20px;
}

.services-list li {
  margin-bottom: 8px;
  list-style: disc;
  color: #555;
}

.check-time p {
  margin: 5px 0;
  font-weight: 500;
}

.time-item {
  color: #477657f5;
}

.guest-services {
  margin-top: 20px;
}

.services-list {
  list-style: disc;
  padding-left: 20px; 
}

.services-list li::marker {
  color: #477657f5; 
  font-size: 16px; 
} 

.offers-rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e9e5e5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  align-content: start; 
}

.offers-rooms .title {
  grid-column: 1 / -1;
}

.rooms-card {
  background: #fff;
  border-radius: 12px 12px; 
  overflow: hidden;
  border: 1px solid #e9e5e5;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.rooms-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

@media (max-width: 992px) {
  .offers-content {
    flex-direction: column; 
  }

  .offers-info,
  .offers-rooms {
    flex: 1 1 100%;
  }

  .offers-rooms {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 599px) {
  .offers-rooms {
    grid-template-columns: 1fr; 
  }
}

/* Section Special Offers */
.special-offers {
  padding: 60px 0;
  background: #f9f9f9;  
}

.special-offers .offer-card-pobyt {
  background-color: #FFD9DA;
}

.special-offers .offer-card-víkend {
  background-color: #daffd2;
}

.special-offers .offer-card-balík {
  background-color: #fffdae;
}

.special-offers .offer-card-lyziarsky {
  background-color: #D7F9F1;
}

.special-offers .section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #333;
}

.offers-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.offer-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
  text-align: center;
}

.offer-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.offer-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #477657f5;
}

.offer-card p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #555;
}

.offer-card .price {
  font-size: 18px;
  font-weight: 700;
  color: #e67e22;
}

.offer-card .offer-icon {
  width: 50px;      
  height: 50px;
  margin-bottom: 15px;
}

.offer-card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #477657f5; 
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.3s ease;
}

.offer-card .btn:hover {
  background-color: #3a5a48; 
  transform: translateY(-2px);
}

@media (max-width: 992px)  {
  offers-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Section FAQ */
.faq {
  padding: 60px 0;
  background: #fff;
  background-image: url('../images/mountains.png'); 
}

.faq .faq-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #fff;
}

.faq-item {
  max-width: 800px;
  margin: 0 auto 15px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  background: #f9f9f9;
}

.faq-question {
  width: 100%;
  text-align: left;
  padding: 18px 20px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  color: #477657f5;
  background: #f9f9f9;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
}

.faq-question:hover {
  background: #eee;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px; 
  padding: 15px 20px;
}

.faq-answer p {
  margin: 0;
  color: #555;
  line-height: 1.6;
}

.faq-question::after {
  content: "▼"; 
  position: absolute;
  right: 20px;
  font-size: 18px;
  color: #21783ef5;
  transition: transform 0.3s ease;
  display: inline-block;
}

.faq-item.active .faq-question::after {
  transform: rotate(180deg); 
}
